POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=

ZIPKIN_HOST=

INTERNAL_API_KEY=

SPRING_PROFILES_ACTIVE=

EUREKA_SERVER_URL=
CONFIG_SERVER_URL=

MASTER_USERNAME=
MASTER_PASSWORD=
MASTER_NAME=
MASTER_ID=

REDIS_HOST=
REDIS_PORT=

ACCESS_KEY_PREFIX=
USER_KEY_PREFIX=

ACCESS_EXPIRATION=
REFRESH_EXPIRATION=

ACCESS_COOKIE_NAME=
REFRESH_COOKIE_NAME=

JWT_SECRET=

GATEWAY_JWKS_URI=

INTERNAL_JWT_PRIVATE_KEY=

SLACK_WEBHOOK_URL=

CLIENT_IP_HEADER=

TRUST_PROXY_HEADER=