# Database 접속 정보
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_HOST=

# Zipkin 접속 정보
ZIPKIN_HOST=

# 내부 API 인증 정보
INTERNAL_API_KEY=

# Signature Key
JWT_SECRET=

# Redis 저장 Prefix
ACCESS_KEY_PREFIX=

# 초기 마스터 계정 정보
MASTER_USERNAME=
MASTER_PASSWORD
MASTER_NAME=

# Redis 접속 정보
REDIS_HOST=
REDIS_PORT=

# 토큰 만료 정책
ACCESS_EXPIRATION=
REFRESH_EXPIRATION=